<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet"  href = "static/css/main.css"/>
    <title>magency</title>
</head>
<body>
    <form action='/signup' method='post'>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">Magency</h2>
                <h1>hello {{n}}</h1>

            </div>   
             

    

            <div class="menu">
                    <ul>
                        <li><a href=home></a></li>
                        <li><a href=about></a></li>
                        <li><a href=contact></a></li>

                    </ul>  

            </div> 

        </div>

    </div>

</body>
</html> 
