*{
  margin: 0;
  padding: 0;
}


body{
  width: 100%;
  background-image: url(https://s3.envato.com/files/212542380/Dark%20Background%20%20%20%2001_preview1%20.JPG)
 
}



.navbar{
  width: 120px;
  height: 75px;
  margin: auto;
}

.icon{
  width: 200px;
  float:left;
  height: 70px;

}

.logo{
  color:rgb(245, 113, 5);
  font-size: 35px;
  font-family: Arial;
  padding-left: 28;
  float: left;
  padding-top: 10px;
  

}

.menu{
  width: 400px;
  float: left;
  height: 70px;

}






